
.cld-page {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#cld-right {
    width: 82%;
    height: 100%;
}

#cld-rightup{
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
    /* background-color: red */
}

#cld-rightdown{
    display: flex;
    width: 100%;
    height: 88%;
    border-radius: 0px;
    background-color: white;
}

#cld-rightdown_left{
    width: 60%;
    height: 100%;
    border-radius: 0px;
    background-color: white;
}

#cld-rightdown_left_up{
    /* display: flex; */
    width: 100%;
    height: 55%;
    border-radius: 0px;
}

#cld-rightdown_left_down {
    position: relative;
    width: 90%;
    height: 45%;
    background-color: white;
    margin-left: 40px;
  }
  
  .cld-coco {
    position: absolute;
    top: -95px; 
    left: -80px; /* 根据需要调整图片与卡片的重合程度 */
    width: 320px; /* logo 的宽度，可以根据需要调整 */
    height: auto; /* 保持图片的纵横比 */
  }
  
.cld-card {
    width: 100%;
    height: 80%;
    position: relative; 
    margin-top: 50px;

    /* Rectangle 46 */

    box-sizing: border-box;


    background: #FFFFFF;
    border: 6px solid #C3E85A;
    border-radius: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cld-card header {
    width: 150px;
    height: 100%;
    /* background-color: #60B71C; */

    text-align: center;

    line-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding-top: 25%; */
    padding-top: 130px;
    gap: 5%;

    font-size: 20px;
    font-weight: bold;
    color: #496561;

}

.cld-card header div {
    display: block;
    width: 100%;
}

.cld-card main {
    width: 70%;
    height: 100%;
    /* background-color: #C3E85A; */
    display: flex;
    flex-direction: column;

    /* margin-top: 100px; */

    justify-content: center;
    overflow-y: scroll;
}

#cld-rightdown_right{
    width: 50%;
    height: 100%;
    border-radius: 0px;
    background-color: white;
}

.cld-right_card{
    margin-left: 30px;
    width: 80%;
    height: 100%;
    border-radius: 30px;
    background-color: #F6F8FA;
}

/* this is left */
#cld-left {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
    width: 18%;
    height: 100%; 
}

#cld-logo {
    margin-top: 4.6%;
}

#cld-content-menu {
    margin-top: 30%;
    display: flex;
    flex-flow: column;
    gap: 40px;
    /* background-color: aqua; */
}

#cld-content-menu .cld-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#cld-content-menu img {
    height: 28px;
    width: 28px;
}

#cld-content-menu p {
    font-size: 20px;
    font-weight: 500;
}

#cld-content-menu .cld-active-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#cld-content-menu > .cld-active-item > p {
    color: #60B71C;
    font-weight: bold;
}

#cld-search {
    position: relative;
    left: 50px;
    width: 113px;
}

#cld-user {
    position: absolute;
    align-items: center;
    justify-content: end;
    right: 30px;
    background-color: #F6F8FA;
    width: 500px;
    height: 50px;
    display: flex;
}

#cld-username {
    position: relative;
    right: 10px;
}

.cld-userimg {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.cld-userimg img {
    width: 100%; /* 设置 img 的宽度为 100% */
    height: 100%; /* 设置 img 的高度为 100% */
    object-fit: cover; 
}

#cld-new-page-button {
    width: 155px;
    height: 60px;
    top: 613px;
    background: #60B71C;
    border-radius: 10px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    cursor: pointer;
}

.cld-modal-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#cld-gray-mask {
    /* Rectangle 47 */

    position: absolute;
    width: 100vw;
    height: 100vh;

    background: rgba(191, 191, 191, 0.5);
    border-radius: 10px;
    z-index: 999;
}


.cld-note {

    display: flex;
    width: 100%;
    height: 30px;

    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.cld-note p{
    width: 100%;
    height: 30px;
    line-height: 30px;

    font-size: 20px;
    color: black;
}

.cld-note .cld-bullet-point{
    width: 10px;
    height: 10px;

    background-color: #60B71C;
    border-radius: 10px;
}

.cld-note-time {
    text-align: right;
}