
.page {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#e-right {
    width: 82%;
    height: 100%;
}

#e-rightup{
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
}

#e-rightdown{
    display: flex;
    width: 100%;
    height: 88%;
    background-color: white;
}

/* this is left */
#e-left {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 18%;
    height: 100%; 
    background-color: #F6F8FA;
}

#logo {
    margin-top: 4.6%;
}

#e-lefttag {
    position: absolute;
    top: 200px;
    justify-content: center;
    width: 100%;
    height: 50%;
}





