#register-page > header {
    margin-top: 2%;
    width: 100vw;
    height: 50px;
    /* background-color: aqua; */
}

#register-icon {
    width: 156px;
    margin-left: 4%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-icon img {
    width: 50px;
    height: 50px;
}

#register-icon p {
    font-size: 24px;
    font-weight: bold;
}

#register-page > main {
    width: 100vw;
    height: 90vh;
    /* background-color: aquamarine; */

    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: center;
    gap: 30px;

    margin-top: 15%;
}

.register-item{
    height: 68px;
    width: 541px;
    line-height: 68px;
}

.register-item span {
    width: 130px;
    font-size: 24px;
    color: #60B71C;
    font-weight: bold;
}

.register-item input {
    width: 392px;
    height: 60px;

    border: 0;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

#register-upload {
    width: max-content;
}

#register-upload span {
    font-size: 24px;
    color: #60B71C;
    font-weight: bold;
    margin-right: 15px;
}

#register-button {
    background-color: #C3E85A;
    color: white;
}

#register-page button {
    width: 265px;
    height: 80px;

    font-size: 24px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    /* margin-bottom: 3%; */
    cursor: pointer;
}